<div style="height: 140px; margin-top: 20px;">
  <div style="float:left; width: 20%; height: 130px; display:flex; flex-direction: column; justify-content: space-between; align-items: center;">
   <img class="profile-icon-left-panel" src="icons/user-icon.png">
   <img class="" src="icons/online-icon.png" width=12>
   <input class="checkbox-left-panel" type="checkbox" checked=true>
  </div>
  <div class="sub-chart-container">
    <div style="height: 40px; width: 100%; float:left; margin-left: 10px;">
      <div class="sub-chart-name"> Nandu </div>
      <div class="sub-chart-avg"> 180 </div>
      <div class="dim-font"> AVG BPM </div>
      <div class="sub-chart-avg"> 165 </div>
      <div class="dim-font"> REST BPM </div>
     </div>
     <div style="height: 100px; float: left; width: 100%">
       {{high-charts content=chartData chartOptions=chartOptions}}
   </div>
  </div>
</div>


<div style="height: 140px; margin-top: 20px;">
  <div style="float:left; width: 20%; height: 130px; display:flex; flex-direction: column; justify-content: space-between; align-items: center;">
   <img class="profile-icon-left-panel" src="icons/user-icon.png">
   <img class="" src="icons/online-icon.png" width=12>
   <input class="checkbox-left-panel" type="checkbox" checked=true>
  </div>
  <div class="sub-chart-container">
    <div style="height: 40px; width: 100%; float:left; margin-left: 10px;">
      <div class="sub-chart-name"> Nandu </div>
      <div class="sub-chart-avg"> 180 </div>
      <div class="dim-font"> AVG BPM </div>
      <div class="sub-chart-avg"> 165 </div>
      <div class="dim-font"> REST BPM </div>
     </div>
     <div style="height: 100px; float: left; width: 100%">
       {{high-charts content=chartData chartOptions=chartOptions}}
   </div>
  </div>
</div>


<div style="height: 140px; margin-top: 20px;">
  <div style="float:left; width: 20%; height: 130px; display:flex; flex-direction: column; justify-content: space-between; align-items: center;">
   <img class="profile-icon-left-panel" src="icons/user-icon.png">
   <img class="" src="icons/online-icon.png" width=12>
   <input class="checkbox-left-panel" type="checkbox" checked=true>
  </div>
  <div class="sub-chart-container">
    <div style="height: 40px; width: 100%; float:left; margin-left: 10px;">
      <div class="sub-chart-name"> Nandu </div>
      <div class="sub-chart-avg"> 180 </div>
      <div class="dim-font"> AVG BPM </div>
      <div class="sub-chart-avg"> 165 </div>
      <div class="dim-font"> REST BPM </div>
     </div>
     <div style="height: 100px; float: left; width: 100%">
       {{high-charts content=chartData chartOptions=chartOptions}}
   </div>
  </div>
</div>
